# Heroes of Pymoli - Jeffrey Coen

In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Import the file
filename = ('raw_data/purchase_data.json')
heroes_df = pd.read_json(filename)

# Printed in first run through but will remove later
heroes_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

# Player Count

In [3]:
# Player Count

# Total Number of Players
total_players = heroes_df["SN"].nunique()

# Create df for total number of players
df_total_players = pd.DataFrame({
    "Total Players": [total_players]
})
df_total_players

   Total Players
0            573

# Purchasing Analysis (Total)

In [4]:
# Number of Unique Items
unique_items = heroes_df['Item ID'].nunique()

# Average Purchase Price
average_price = round(heroes_df["Price"].mean(), 2)

# Total Number of Purchases
number_of_purchases = heroes_df["Item ID"].count()

# Total Revenue
total_revenue = heroes_df["Price"].sum()

# Build the DF 
df_purchasing_analysis = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Purchase Price": [average_price],
    "Number of Purchases": [number_of_purchases],
    "Total Revenue": [total_revenue]
})

# Print the DF
df_purchasing_analysis

,Average Purchase Price,Number of Purchases,Number of Unique Items,Total Revenue
0,2.93,780,183,2286.33

# Gender Demographics

In [5]:
# Count of Male Players
male_players = heroes_df.loc[heroes_df["Gender"] == "Male"].nunique()

# Count of Female Players
female_players = heroes_df.loc[heroes_df["Gender"] == "Female"].nunique()

# Count of Other / Non-Disclosed
other_players = heroes_df.loc[heroes_df["Gender"] == "Other / Non-Disclosed"].nunique()

# DF Gender Demographics
df_gender_demographics = pd.DataFrame({
    # Use previous total players int for figuring out the percentage
    "Percentage of Players": [(male_players["SN"]/total_players*100).round(2), 
                              (female_players["SN"]/total_players*100).round(2), 
                              (other_players["SN"]/total_players*100).round(2)],
    "Total Count": [male_players["SN"], female_players["SN"], other_players["SN"]]
    
},index = ['Male', 'Female', 'Other'])

df_gender_demographics

        Percentage of Players  Total Count
Male                    81.15          465
Female                  17.45          100
Other                    1.40            8

# Purchasing Analysis (Gender)

In [6]:
# Create New DF for gender analysis
df = (heroes_df
      # group DF by gender column
      .groupby(['Gender'], as_index = False)
      .Price
      # Perform calculations as directed by instructions
      .agg({'Count':len, 'Total': 'sum', 'Average': np.mean
           })
     )

# Remove extra decimals as this is currency
df['Average'] = round(df["Average"], 2)

# Print that DF
df

                  Gender  Count    Total  Average
0                 Female  136.0   382.91     2.82
1                   Male  633.0  1867.68     2.95
2  Other / Non-Disclosed   11.0    35.74     3.25

# Age Demographics

In [7]:
# Create new DF for age, group the age, count how many times each age appears
age_df = (heroes_df
      .groupby(['Age'], as_index = False)
    .SN
      .agg({'Count':len, 
           })
     )
# Remove hash below to show counts of ages
# age_df

In [8]:
# Create bins and group names in order to drop ages into categories
bins = [6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
group_names = [ '< 10', '10 - 14', '14 - 18', '18 - 22', '22 - 26', '26 - 30', '30 - 34', '34 - 38', '38 - 42', '42 - 46']

In [9]:
# Place ages into the categories
categories = pd.cut(age_df['Age'], bins, labels=group_names)
age_df['categories'] = pd.cut(age_df['Age'], bins, labels=group_names)
#age_df

In [10]:
# Final age df is meant to merge the new age_df with the first DF, heroes_df
final_age_df = pd.merge(age_df, heroes_df, on = "Age", how="outer")
final_age_df

# Create grouped_age DF to group the categories
grouped_age = (final_age_df
      .groupby(['categories'], as_index = False)
      .Price
      .agg({'Count':len, 'Total': 'sum', 'Average': np.mean, 
           })
     )
grouped_age['Average']=round(df['Average'], 2)
grouped_age.sort_index(by='categories', ascending = True)

/Users/jeffreycoen/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:13: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)

  categories  Count   Total  Average
0    10 - 14   31.0   83.79     2.82
1    14 - 18  111.0  319.32     2.95
2    18 - 22  231.0  676.20     3.25
3    22 - 26  207.0  608.02      NaN
4    26 - 30   63.0  187.99      NaN
5    30 - 34   46.0  141.24      NaN
6    34 - 38   37.0  104.06      NaN
7    38 - 42   20.0   62.56      NaN
8    42 - 46    2.0    6.53      NaN
9       < 10   32.0   96.62      NaN

# Top Spenders

In [11]:
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [12]:
df = (heroes_df
      .groupby(['SN'], as_index = False)
      .Price
      .agg({'Count':len, 'Total': 'sum', 'Average': np.mean
           })
     )
df['Average']=round(df['Average'], 2)
df.sort_index(by='Total', ascending = False).head(5)

/Users/jeffreycoen/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:8: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)

              SN  Count  Total  Average
538  Undirrala66    5.0  17.06     3.41
428     Saedue76    4.0  13.56     3.39
354  Mindimnya67    4.0  12.74     3.18
181   Haellysu29    3.0  12.73     4.24
120       Eoda93    3.0  11.58     3.86

# Most Popular Items

In [13]:
#Most Popular Items

#Item ID

#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [14]:
df = (heroes_df
      .groupby(['Item Name'],# 'Price'], 
               as_index = False)
      .Price
      .agg({'Count':len, 'Total': 'sum', #'Prices': ('sum'/len),
           })
     )

df['Price'] = df['Total']/df['Count']
df['Price'] = round(df['Price'], 2)
df.sort_index(by='Count', ascending = False).head(5)

/Users/jeffreycoen/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:11: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)

                                Item Name  Count  Total  Price
56                           Final Critic   14.0  38.60   2.76
8                              Arcane Gem   11.0  24.53   2.23
11   Betrayal, Whisper of Grieving Widows   11.0  25.85   2.35
137                           Stormcaller   10.0  34.65   3.46
173            Woeful Adamantite Claymore    9.0  11.16   1.24

# Most Profitable Items

In [15]:
#Most Profitable Items

#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

df = (heroes_df
      .groupby(['Item Name'], as_index = False)
    .Price
      .agg({'Count':len, 'Total': 'sum', #'Price': ,
           })
     )
df['Price'] = df['Total']/df['Count']
df['Price'] = round(df['Price'], 2)
df.sort_index(by='Total', ascending = False).head(5)

/Users/jeffreycoen/anaconda/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:18: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)

                      Item Name  Count  Total  Price
56                 Final Critic   14.0  38.60   2.76
112             Retribution Axe    9.0  37.26   4.14
137                 Stormcaller   10.0  34.65   3.46
132  Spectral Diamond Doomblade    7.0  29.75   4.25
96                      Orenmir    6.0  29.70   4.95