# Winnining Wrestlers Entertainment

In this activity you will be taking four seperate csvs that were scraped down from a wrestling database, merging them together, and then creating charts to visualize a wrestler's wins and losses over the course of four years.

### Part 1 - Macho Merging

* You will likely need to perform three different merges over the course of this activity, changing the names of your columns as you go along.

In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [33]:
# Load in csv
df_2016 = pd.read_csv("WWE-Data-2016.csv")
#df_2016['year'] = '2016'
df_2016.rename(columns = {'Wins': 'Wins 2016', 'Losses': 'Losses 2016', 'Draws': 'Draws 2016' },inplace = True)
df_2016.head(5)

       Wrestler  Wins 2016  Losses 2016  Draws 2016
0  Dean Ambrose        133           67           4
1   Kevin Owens         61          130           2
2  Tyler Breeze         17          163           2
3     AJ Styles        108           68           0
4     Sami Zayn        111           59           6

In [34]:
# Load in csv
df_2015 = pd.read_csv("WWE-Data-2015.csv")
#df_2015['year'] = '2015'
df_2015.rename(columns = {'Wins': 'Wins 2015', 'Losses': 'Losses 2015', 'Draws': 'Draws 2015' },inplace = True)
df_2015.head(5)

       Wrestler  Wins 2015  Losses 2015  Draws 2015
0  Dean Ambrose        150           63           5
1  Roman Reigns        187           19           7
2        Cesaro        117           69           1
3         Big E         96           86           1
4   Luke Harper         55          122           3

In [35]:
# Load in csv
df_2014 = pd.read_csv("WWE-Data-2014.csv")
#df_2014['year'] = '2014'
df_2014.rename(columns = {'Wins': 'Wins 2014', 'Losses': 'Losses 2014', 'Draws': 'Draws 2014' },inplace = True)
df_2014.head(5)

        Wrestler  Wins 2014  Losses 2014  Draws 2014
0  Dolph Ziggler        134           60           2
1   Seth Rollins         87          105           4
2      Jimmy Uso        143           43           4
3         Cesaro         64          120           1
4        Jey Uso        139           42           4

In [36]:
# Load in csv
df_2013 = pd.read_csv("WWE-Data-2013.csv")
#df_2013['year'] = '2013'
df_2013.rename(columns = {'Wins': 'Wins 2013', 'Losses': 'Losses 2013', 'Draws': 'Draws 2013' },inplace = True)
df_2013.head(5)

         Wrestler  Wins 2013  Losses 2013  Draws 2013
0    Daniel Bryan        177           37           6
1    Dean Ambrose         70          134           4
2  Antonio Cesaro         80          126           1
3    Seth Rollins         50          150           4
4     Randy Orton        129           63           8

In [41]:
# Merge all of the CSV's
merged_df = pd.merge(df_2013, df_2014, on = "Wrestler", how="outer")
merged_df.head(5)

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0

In [42]:
merged_df.describe

<bound method NDFrame.describe of              Wrestler  Wins 2013  Losses 2013  Draws 2013  Wins 2014  \
0        Daniel Bryan      177.0         37.0         6.0       35.0
1        Dean Ambrose       70.0        134.0         4.0      129.0
2      Antonio Cesaro       80.0        126.0         1.0        5.0
3        Seth Rollins       50.0        150.0         4.0       87.0
4         Randy Orton      129.0         63.0         8.0       33.0
5        Roman Reigns       49.0        140.0         5.0      118.0
6              Ryback      103.0         88.0         3.0       43.0
7       Damien Sandow       39.0        147.0         3.0        3.0
8     Alberto Del Rio      126.0         53.0         4.0       31.0
9       Dolph Ziggler       62.0        117.0         1.0      134.0
10        Cody Rhodes       47.0        114.0         3.0       46.0
11       Jack Swagger       56.0         96.0         2.0       49.0
12      Kofi Kingston       66.0         79.0         4.0       82.0
13         Zack Ryder       66.0         80.0         0.0        8.0
14        Brodus Clay      100.0         44.0         1.0        3.0
15            Jey Uso       85.0         54.0         1.0      139.0
16            Sheamus      110.0         25.0         5.0      141.0
17          Jimmy Uso       85.0         52.0         1.0      143.0
18             Tensai       91.0         46.0         1.0        NaN
19       Titus O'Neil       29.0        108.0         1.0       29.0
20            The Miz       61.0         71.0         5.0       40.0
21       Heath Slater        5.0        129.0         1.0       11.0
22          John Cena      127.0          6.0         1.0      141.0
23       Wade Barrett       52.0         77.0         1.0        NaN
24       Darren Young       28.0        100.0         1.0       26.0
25            R-Truth       76.0         51.0         1.0       61.0
26    Big E. Langston       51.0         75.0         1.0       19.0
27           Fandango       58.0         66.0         1.0       20.0
28            Kaitlyn       87.0         37.0         1.0        NaN
29     Justin Gabriel       61.0         62.0         1.0        3.0
..                ...        ...          ...         ...        ...
152  Sylvester Lefort        1.0          3.0         0.0        7.0
153    The Undertaker        3.0          1.0         0.0        NaN
154  Bad News Barrett        3.0          0.0         0.0       58.0
155      Brock Lesnar        2.0          1.0         0.0        NaN
156       Hornswoggle        3.0          0.0         0.0        3.0
157       Luther Ward        2.0          1.0         0.0        NaN
158       Simon Gotch        1.0          2.0         0.0       35.0
159     Solomon Crowe        2.0          1.0         0.0       10.0
160          The Rock        2.0          1.0         0.0        NaN
161     Veronica Lane        0.0          3.0         0.0        NaN
162      Buddy Murphy        0.0          2.0         0.0        7.0
163  Denton Blackwell        0.0          2.0         0.0        NaN
164       Jamie Noble        2.0          0.0         0.0        NaN
165      Marcus Louis        0.0          2.0         0.0       16.0
166   Memo Montenegro        0.0          2.0         0.0        NaN
167   Vickie Guerrero        0.0          2.0         0.0        NaN
168            Cesaro        NaN          NaN         NaN       64.0
169             Big E        NaN          NaN         NaN       84.0
170             Rusev        NaN          NaN         NaN       80.0
171          Stardust        NaN          NaN         NaN       52.0
172     Damien Mizdow        NaN          NaN         NaN       11.0
173       Dash Wilder        NaN          NaN         NaN       11.0
174           Batista        NaN          NaN         NaN       15.0
175          Carmella        NaN          NaN         NaN       11.0
176       Hideo Itami        NaN          NaN         NaN       24.0
177     Elias Sampson        NaN          NaN         NaN        3.0
178        Chad Gable        NaN          NaN         NaN        5.0
179      Steve Cutler        NaN          NaN         NaN        4.0
180       Dana Brooke        NaN          NaN         NaN        4.0
181        Finn Balor        NaN          NaN         NaN        9.0

     Losses 2014  Draws 2014
0           16.0         2.0
1           36.0         2.0
2           24.0         0.0
3          105.0         4.0
4           87.0         5.0
5           28.0         4.0
6          114.0         1.0
7          113.0         0.0
8           82.0         1.0
9           60.0         2.0
10          43.0         1.0
11         123.0         1.0
12          72.0         1.0
13          53.0         0.0
14          21.0         1.0
15          42.0         4.0
16          29.0         2.0
17          43.0         4.0
18           NaN         NaN
19         132.0         1.0
20          92.0         1.0
21         106.0         1.0
22          23.0         0.0
23           NaN         NaN
24           8.0         0.0
25          49.0         0.0
26           4.0         1.0
27         124.0         1.0
28           NaN         NaN
29          53.0         1.0
..           ...         ...
152         23.0         1.0
153          NaN         NaN
154         17.0         2.0
155          NaN         NaN
156         37.0         0.0
157          NaN         NaN
158         31.0         0.0
159         21.0         0.0
160          NaN         NaN
161          NaN         NaN
162         28.0         0.0
163          NaN         NaN
164          NaN         NaN
165         18.0         1.0
166          NaN         NaN
167          NaN         NaN
168        120.0         1.0
169         48.0         0.0
170         30.0         0.0
171         45.0         0.0
172         39.0         0.0
173         33.0         0.0
174         13.0         4.0
175         18.0         0.0
176          0.0         1.0
177         21.0         0.0
178         17.0         0.0
179         15.0         0.0
180         10.0         0.0
181          3.0         0.0

[182 rows x 7 columns]>

In [43]:
merged_df_2 = pd.merge(merged_df, df_2015, on = "Wrestler", how="outer")
merged_df_2.head(5)

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins 2015,Losses 2015,Draws 2015
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0

In [44]:
merged_df_2.describe

<bound method NDFrame.describe of                  Wrestler  Wins 2013  Losses 2013  Draws 2013  Wins 2014  \
0            Daniel Bryan      177.0         37.0         6.0       35.0
1            Dean Ambrose       70.0        134.0         4.0      129.0
2          Antonio Cesaro       80.0        126.0         1.0        5.0
3            Seth Rollins       50.0        150.0         4.0       87.0
4             Randy Orton      129.0         63.0         8.0       33.0
5            Roman Reigns       49.0        140.0         5.0      118.0
6                  Ryback      103.0         88.0         3.0       43.0
7           Damien Sandow       39.0        147.0         3.0        3.0
8         Alberto Del Rio      126.0         53.0         4.0       31.0
9           Dolph Ziggler       62.0        117.0         1.0      134.0
10            Cody Rhodes       47.0        114.0         3.0       46.0
11           Jack Swagger       56.0         96.0         2.0       49.0
12          Kofi Kingston       66.0         79.0         4.0       82.0
13             Zack Ryder       66.0         80.0         0.0        8.0
14            Brodus Clay      100.0         44.0         1.0        3.0
15                Jey Uso       85.0         54.0         1.0      139.0
16                Sheamus      110.0         25.0         5.0      141.0
17              Jimmy Uso       85.0         52.0         1.0      143.0
18                 Tensai       91.0         46.0         1.0        NaN
19           Titus O'Neil       29.0        108.0         1.0       29.0
20                The Miz       61.0         71.0         5.0       40.0
21           Heath Slater        5.0        129.0         1.0       11.0
22              John Cena      127.0          6.0         1.0      141.0
23           Wade Barrett       52.0         77.0         1.0        NaN
24           Darren Young       28.0        100.0         1.0       26.0
25                R-Truth       76.0         51.0         1.0       61.0
26        Big E. Langston       51.0         75.0         1.0       19.0
27               Fandango       58.0         66.0         1.0       20.0
28                Kaitlyn       87.0         37.0         1.0        NaN
29         Justin Gabriel       61.0         62.0         1.0        3.0
..                    ...        ...          ...         ...        ...
183           Kevin Owens        NaN          NaN         NaN        NaN
184          King Barrett        NaN          NaN         NaN        NaN
185                 Blake        NaN          NaN         NaN        NaN
186                Murphy        NaN          NaN         NaN        NaN
187          D-Von Dudley        NaN          NaN         NaN        NaN
188      Bubba Ray Dudley        NaN          NaN         NaN        NaN
189        Braun Strowman        NaN          NaN         NaN        NaN
190          Elias Samson        NaN          NaN         NaN        NaN
191          Apollo Crews        NaN          NaN         NaN        NaN
192             Samoa Joe        NaN          NaN         NaN        NaN
193           Mike Rawlis        NaN          NaN         NaN        NaN
194         Tucker Knight        NaN          NaN         NaN        NaN
195               Nia Jax        NaN          NaN         NaN        NaN
196          Riddick Moss        NaN          NaN         NaN        NaN
197                 Asuka        NaN          NaN         NaN        NaN
198                 Rhyno        NaN          NaN         NaN        NaN
199            Billie Kay        NaN          NaN         NaN        NaN
200             Hugo Knox        NaN          NaN         NaN        NaN
201                  Lina        NaN          NaN         NaN        NaN
202          Macho Mandow        NaN          NaN         NaN        NaN
203          Jessie McKay        NaN          NaN         NaN        NaN
204          Peyton Royce        NaN          NaN         NaN        NaN
205           Uhaa Nation        NaN          NaN         NaN        NaN
206          Devin Taylor        NaN          NaN         NaN        NaN
207       Alexander Wolfe        NaN          NaN         NaN        NaN
208         Tommy Dreamer        NaN          NaN         NaN        NaN
209  Levis Valenzuela Jr.        NaN          NaN         NaN        NaN
210                Cassie        NaN          NaN         NaN        NaN
211         Gionna Daddio        NaN          NaN         NaN        NaN
212       Tino Sabbatelli        NaN          NaN         NaN        NaN

     Losses 2014  Draws 2014  Wins 2015  Losses 2015  Draws 2015
0           16.0         2.0       51.0          7.0         0.0
1           36.0         2.0      150.0         63.0         5.0
2           24.0         0.0        NaN          NaN         NaN
3          105.0         4.0       51.0        124.0         1.0
4           87.0         5.0       81.0         10.0         1.0
5           28.0         4.0      187.0         19.0         7.0
6          114.0         1.0      138.0         34.0         2.0
7          113.0         0.0       50.0          9.0         2.0
8           82.0         1.0       26.0         13.0         2.0
9           60.0         2.0      115.0         52.0         2.0
10          43.0         1.0        NaN          NaN         NaN
11         123.0         1.0       65.0         65.0         0.0
12          72.0         1.0       86.0         90.0         1.0
13          53.0         0.0       88.0         45.0         0.0
14          21.0         1.0        NaN          NaN         NaN
15          42.0         4.0       37.0         28.0         1.0
16          29.0         2.0       58.0         86.0         1.0
17          43.0         4.0       82.0         36.0         3.0
18           NaN         NaN        NaN          NaN         NaN
19         132.0         1.0       92.0         61.0         0.0
20          92.0         1.0       17.0        115.0         1.0
21         106.0         1.0        1.0        131.0         0.0
22          23.0         0.0      125.0         11.0         0.0
23           NaN         NaN        NaN          NaN         NaN
24           8.0         0.0       87.0         47.0         2.0
25          49.0         0.0       94.0         44.0         1.0
26           4.0         1.0        NaN          NaN         NaN
27         124.0         1.0       69.0         75.0         1.0
28           NaN         NaN        NaN          NaN         NaN
29          53.0         1.0        NaN          NaN         NaN
..           ...         ...        ...          ...         ...
183          NaN         NaN       63.0         85.0         4.0
184          NaN         NaN       22.0         65.0         0.0
185          NaN         NaN       31.0         51.0         0.0
186          NaN         NaN       32.0         50.0         0.0
187          NaN         NaN       36.0         29.0         1.0
188          NaN         NaN       36.0         28.0         1.0
189          NaN         NaN       30.0         26.0         1.0
190          NaN         NaN       12.0         38.0         1.0
191          NaN         NaN       42.0          8.0         0.0
192          NaN         NaN       36.0         11.0         1.0
193          NaN         NaN        9.0         24.0         0.0
194          NaN         NaN        3.0         24.0         1.0
195          NaN         NaN       17.0          9.0         0.0
196          NaN         NaN        8.0         17.0         0.0
197          NaN         NaN       24.0          0.0         0.0
198          NaN         NaN        8.0         16.0         0.0
199          NaN         NaN        5.0         15.0         1.0
200          NaN         NaN       13.0          8.0         0.0
201          NaN         NaN        9.0         11.0         0.0
202          NaN         NaN       14.0          5.0         0.0
203          NaN         NaN        1.0         17.0         0.0
204          NaN         NaN        2.0         16.0         0.0
205          NaN         NaN       13.0          3.0         0.0
206          NaN         NaN        6.0          9.0         0.0
207          NaN         NaN        0.0         14.0         0.0
208          NaN         NaN        4.0          9.0         1.0
209          NaN         NaN        7.0          6.0         0.0
210          NaN         NaN        0.0         12.0         0.0
211          NaN         NaN        8.0          4.0         0.0
212          NaN         NaN        1.0         11.0         0.0

[213 rows x 10 columns]>

In [46]:
merged_df_3 = pd.merge(merged_df_2, df_2016, on = "Wrestler", how="outer")
merged_df_3.head(5)

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins 2015,Losses 2015,Draws 2015,Wins 2016,Losses 2016,Draws 2016
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0

In [47]:
merged_df_3.describe

<bound method NDFrame.describe of                Wrestler  Wins 2013  Losses 2013  Draws 2013  Wins 2014  \
0          Daniel Bryan      177.0         37.0         6.0       35.0
1          Dean Ambrose       70.0        134.0         4.0      129.0
2        Antonio Cesaro       80.0        126.0         1.0        5.0
3          Seth Rollins       50.0        150.0         4.0       87.0
4           Randy Orton      129.0         63.0         8.0       33.0
5          Roman Reigns       49.0        140.0         5.0      118.0
6                Ryback      103.0         88.0         3.0       43.0
7         Damien Sandow       39.0        147.0         3.0        3.0
8       Alberto Del Rio      126.0         53.0         4.0       31.0
9         Dolph Ziggler       62.0        117.0         1.0      134.0
10          Cody Rhodes       47.0        114.0         3.0       46.0
11         Jack Swagger       56.0         96.0         2.0       49.0
12        Kofi Kingston       66.0         79.0         4.0       82.0
13           Zack Ryder       66.0         80.0         0.0        8.0
14          Brodus Clay      100.0         44.0         1.0        3.0
15              Jey Uso       85.0         54.0         1.0      139.0
16              Sheamus      110.0         25.0         5.0      141.0
17            Jimmy Uso       85.0         52.0         1.0      143.0
18               Tensai       91.0         46.0         1.0        NaN
19         Titus O'Neil       29.0        108.0         1.0       29.0
20              The Miz       61.0         71.0         5.0       40.0
21         Heath Slater        5.0        129.0         1.0       11.0
22            John Cena      127.0          6.0         1.0      141.0
23         Wade Barrett       52.0         77.0         1.0        NaN
24         Darren Young       28.0        100.0         1.0       26.0
25              R-Truth       76.0         51.0         1.0       61.0
26      Big E. Langston       51.0         75.0         1.0       19.0
27             Fandango       58.0         66.0         1.0       20.0
28              Kaitlyn       87.0         37.0         1.0        NaN
29       Justin Gabriel       61.0         62.0         1.0        3.0
..                  ...        ...          ...         ...        ...
240        Sunny Dhinsa        NaN          NaN         NaN        NaN
241        Lince Dorado        NaN          NaN         NaN        NaN
242        Gzim Selmani        NaN          NaN         NaN        NaN
243      Adrienne Reese        NaN          NaN         NaN        NaN
244                Akam        NaN          NaN         NaN        NaN
245               Rezar        NaN          NaN         NaN        NaN
246           Dan Matha        NaN          NaN         NaN        NaN
247          Josh Woods        NaN          NaN         NaN        NaN
248                Lana        NaN          NaN         NaN        NaN
249      Niko Bogojevic        NaN          NaN         NaN        NaN
250       Adrian Jaoude        NaN          NaN         NaN        NaN
251        Otis Dozovic        NaN          NaN         NaN        NaN
252  The Brian Kendrick        NaN          NaN         NaN        NaN
253            Noam Dar        NaN          NaN         NaN        NaN
254           Tony Nese        NaN          NaN         NaN        NaN
255     Roderick Strong        NaN          NaN         NaN        NaN
256          Eric Young        NaN          NaN         NaN        NaN
257          Drew Gulak        NaN          NaN         NaN        NaN
258       Kishan Raftar        NaN          NaN         NaN        NaN
259       Ariya Daivari        NaN          NaN         NaN        NaN
260      Jack Gallagher        NaN          NaN         NaN        NaN
261    Nicola Glencross        NaN          NaN         NaN        NaN
262          Noah Kekoa        NaN          NaN         NaN        NaN
263           Tian Bing        NaN          NaN         NaN        NaN
264        Gran Metalik        NaN          NaN         NaN        NaN
265         Nikki Cross        NaN          NaN         NaN        NaN
266         Noah Potjes        NaN          NaN         NaN        NaN
267        Cezar Bononi        NaN          NaN         NaN        NaN
268     James Ellsworth        NaN          NaN         NaN        NaN
269      Macey Estrella        NaN          NaN         NaN        NaN

     Losses 2014  Draws 2014  Wins 2015  Losses 2015  Draws 2015  Wins 2016  \
0           16.0         2.0       51.0          7.0         0.0        NaN
1           36.0         2.0      150.0         63.0         5.0      133.0
2           24.0         0.0        NaN          NaN         NaN        NaN
3          105.0         4.0       51.0        124.0         1.0       39.0
4           87.0         5.0       81.0         10.0         1.0       39.0
5           28.0         4.0      187.0         19.0         7.0      142.0
6          114.0         1.0      138.0         34.0         2.0       37.0
7          113.0         0.0       50.0          9.0         2.0       11.0
8           82.0         1.0       26.0         13.0         2.0       24.0
9           60.0         2.0      115.0         52.0         2.0      114.0
10          43.0         1.0        NaN          NaN         NaN        NaN
11         123.0         1.0       65.0         65.0         0.0       73.0
12          72.0         1.0       86.0         90.0         1.0       95.0
13          53.0         0.0       88.0         45.0         0.0      119.0
14          21.0         1.0        NaN          NaN         NaN        NaN
15          42.0         4.0       37.0         28.0         1.0       76.0
16          29.0         2.0       58.0         86.0         1.0       44.0
17          43.0         4.0       82.0         36.0         3.0       70.0
18           NaN         NaN        NaN          NaN         NaN        NaN
19         132.0         1.0       92.0         61.0         0.0       47.0
20          92.0         1.0       17.0        115.0         1.0       43.0
21         106.0         1.0        1.0        131.0         0.0       62.0
22          23.0         0.0      125.0         11.0         0.0       29.0
23           NaN         NaN        NaN          NaN         NaN        NaN
24           8.0         0.0       87.0         47.0         2.0       74.0
25          49.0         0.0       94.0         44.0         1.0       96.0
26           4.0         1.0        NaN          NaN         NaN        NaN
27         124.0         1.0       69.0         75.0         1.0       24.0
28           NaN         NaN        NaN          NaN         NaN        NaN
29          53.0         1.0        NaN          NaN         NaN        NaN
..           ...         ...        ...          ...         ...        ...
240          NaN         NaN        NaN          NaN         NaN       11.0
241          NaN         NaN        NaN          NaN         NaN       15.0
242          NaN         NaN        NaN          NaN         NaN       11.0
243          NaN         NaN        NaN          NaN         NaN       14.0
244          NaN         NaN        NaN          NaN         NaN       23.0
245          NaN         NaN        NaN          NaN         NaN       23.0
246          NaN         NaN        NaN          NaN         NaN        7.0
247          NaN         NaN        NaN          NaN         NaN        9.0
248          NaN         NaN        NaN          NaN         NaN        3.0
249          NaN         NaN        NaN          NaN         NaN        7.0
250          NaN         NaN        NaN          NaN         NaN        5.0
251          NaN         NaN        NaN          NaN         NaN        7.0
252          NaN         NaN        NaN          NaN         NaN       11.0
253          NaN         NaN        NaN          NaN         NaN        7.0
254          NaN         NaN        NaN          NaN         NaN        7.0
255          NaN         NaN        NaN          NaN         NaN       13.0
256          NaN         NaN        NaN          NaN         NaN        8.0
257          NaN         NaN        NaN          NaN         NaN        3.0
258          NaN         NaN        NaN          NaN         NaN        6.0
259          NaN         NaN        NaN          NaN         NaN        3.0
260          NaN         NaN        NaN          NaN         NaN       12.0
261          NaN         NaN        NaN          NaN         NaN        3.0
262          NaN         NaN        NaN          NaN         NaN        5.0
263          NaN         NaN        NaN          NaN         NaN        6.0
264          NaN         NaN        NaN          NaN         NaN        8.0
265          NaN         NaN        NaN          NaN         NaN        8.0
266          NaN         NaN        NaN          NaN         NaN        3.0
267          NaN         NaN        NaN          NaN         NaN        1.0
268          NaN         NaN        NaN          NaN         NaN        8.0
269          NaN         NaN        NaN          NaN         NaN        1.0

     Losses 2016  Draws 2016
0            NaN         NaN
1           67.0         4.0
2            NaN         NaN
3           75.0         4.0
4           21.0         0.0
5           12.0         5.0
6           17.0         1.0
7           18.0         0.0
8           65.0         2.0
9           56.0         2.0
10           NaN         NaN
11          70.0         0.0
12          39.0         1.0
13          51.0         2.0
14           NaN         NaN
15          90.0         0.0
16         115.0         5.0
17          80.0         0.0
18           NaN         NaN
19          73.0         1.0
20         103.0         1.0
21          64.0         0.0
22          21.0         0.0
23           NaN         NaN
24          28.0         2.0
25          21.0         1.0
26           NaN         NaN
27         111.0         0.0
28           NaN         NaN
29           NaN         NaN
..           ...         ...
240         19.0         0.0
241         13.0         1.0
242         17.0         0.0
243         12.0         0.0
244          3.0         0.0
245          3.0         0.0
246         17.0         1.0
247         15.0         0.0
248         20.0         0.0
249         14.0         0.0
250         14.0         1.0
251         13.0         0.0
252          9.0         0.0
253         12.0         0.0
254         12.0         0.0
255          5.0         0.0
256          9.0         0.0
257         13.0         0.0
258         10.0         0.0
259         12.0         0.0
260          3.0         0.0
261         12.0         0.0
262         10.0         0.0
263          8.0         0.0
264          5.0         0.0
265          5.0         0.0
266         10.0         0.0
267          9.0         1.0
268          3.0         0.0
269         10.0         0.0

[270 rows x 13 columns]>

In [51]:
wrestler_name = "Seth Rollins"
new_df = merged_df_3.loc[merged_df_3["Wrestler"] == wrestler_name]
new_df

#male_players = heroes_df.loc[heroes_df["Gender"] == "Male"].nunique()

,Wrestler,Wins 2013,Losses 2013,Draws 2013,Wins 2014,Losses 2014,Draws 2014,Wins 2015,Losses 2015,Draws 2015,Wins 2016,Losses 2016,Draws 2016
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0

In [60]:
#x_axis = ['2013', '2014', '2015', '2016']
#y_axis = ['Wins', 'Losses', 'Draws']

x = [new_df.iloc[0,2], new_df., 7, 10, 13]
wins = new_df.iloc[0, x]
wins

IndexError: positional indexers are out-of-bounds

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,Wins,Losses,Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0
5,Roman Reigns,49.0,140.0,5.0,118.0,28.0,4.0,187.0,19.0,7.0,142.0,12.0,5.0
6,Ryback,103.0,88.0,3.0,43.0,114.0,1.0,138.0,34.0,2.0,37.0,17.0,1.0
7,Damien Sandow,39.0,147.0,3.0,3.0,113.0,0.0,50.0,9.0,2.0,11.0,18.0,0.0
8,Alberto Del Rio,126.0,53.0,4.0,31.0,82.0,1.0,26.0,13.0,2.0,24.0,65.0,2.0
9,Dolph Ziggler,62.0,117.0,1.0,134.0,60.0,2.0,115.0,52.0,2.0,114.0,56.0,2.0
10,Cody Rhodes,47.0,114.0,3.0,46.0,43.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Jack Swagger,56.0,96.0,2.0,49.0,123.0,1.0,65.0,65.0,0.0,73.0,70.0,0.0
12,Kofi Kingston,66.0,79.0,4.0,82.0,72.0,1.0,86.0,90.0,1.0,95.0,39.0,1.0
13,Zack Ryder,66.0,80.0,0.0,8.0,53.0,0.0,88.0,45.0,0.0,119.0,51.0,2.0
14,Brodus Clay,100.0,44.0,1.0,3.0,21.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Jey Uso,85.0,54.0,1.0,139.0,42.0,4.0,37.0,28.0,1.0,76.0,90.0,0.0
16,Sheamus,110.0,25.0,5.0,141.0,29.0,2.0,58.0,86.0,1.0,44.0,115.0,5.0
17,Jimmy Uso,85.0,52.0,1.0,143.0,43.0,4.0,82.0,36.0,3.0,70.0,80.0,0.0
18,Tensai,91.0,46.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Titus O'Neil,29.0,108.0,1.0,29.0,132.0,1.0,92.0,61.0,0.0,47.0,73.0,1.0
20,The Miz,61.0,71.0,5.0,40.0,92.0,1.0,17.0,115.0,1.0,43.0,103.0,1.0
21,Heath Slater,5.0,129.0,1.0,11.0,106.0,1.0,1.0,131.0,0.0,62.0,64.0,0.0
22,John Cena,127.0,6.0,1.0,141.0,23.0,0.0,125.0,11.0,0.0,29.0,21.0,0.0
23,Wade Barrett,52.0,77.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Darren Young,28.0,100.0,1.0,26.0,8.0,0.0,87.0,47.0,2.0,74.0,28.0,2.0
25,R-Truth,76.0,51.0,1.0,61.0,49.0,0.0,94.0,44.0,1.0,96.0,21.0,1.0
26,Big E. Langston,51.0,75.0,1.0,19.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
27,Fandango,58.0,66.0,1.0,20.0,124.0,1.0,69.0,75.0,1.0,24.0,111.0,0.0
28,Kaitlyn,87.0,37.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Justin Gabriel,61.0,62.0,1.0,3.0,53.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Sunny Dhinsa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,19.0,0.0
241,Lince Dorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,13.0,1.0
242,Gzim Selmani,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,17.0,0.0
243,Adrienne Reese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,12.0,0.0
244,Akam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,3.0,0.0
245,Rezar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,3.0,0.0
246,Dan Matha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,17.0,1.0
247,Josh Woods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,15.0,0.0
248,Lana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,20.0,0.0
249,Niko Bogojevic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,14.0,0.0
250,Adrian Jaoude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,14.0,1.0
251,Otis Dozovic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,13.0,0.0
252,The Brian Kendrick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,9.0,0.0
253,Noam Dar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,12.0,0.0
254,Tony Nese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,12.0,0.0
255,Roderick Strong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,5.0,0.0
256,Eric Young,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,9.0,0.0
257,Drew Gulak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,13.0,0.0
258,Kishan Raftar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,10.0,0.0
259,Ariya Daivari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,12.0,0.0
260,Jack Gallagher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,3.0,0.0
261,Nicola Glencross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,12.0,0.0
262,Noah Kekoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,10.0,0.0
263,Tian Bing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,8.0,0.0
264,Gran Metalik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,5.0,0.0
265,Nikki Cross,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,5.0,0.0
266,Noah Potjes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,10.0,0.0
267,Cezar Bononi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,9.0,1.0
268,James Ellsworth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,0.0
269,Macey Estrella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10.0,0.0

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws,2015 Wins,2015 Losses,2015 Draws,2016 Wins,2016 Losses,2016 Draws
0,Daniel Bryan,177.0,37.0,6.0,35.0,16.0,2.0,51.0,7.0,0.0,NaN,NaN,NaN
1,Dean Ambrose,70.0,134.0,4.0,129.0,36.0,2.0,150.0,63.0,5.0,133.0,67.0,4.0
2,Antonio Cesaro,80.0,126.0,1.0,5.0,24.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Seth Rollins,50.0,150.0,4.0,87.0,105.0,4.0,51.0,124.0,1.0,39.0,75.0,4.0
4,Randy Orton,129.0,63.0,8.0,33.0,87.0,5.0,81.0,10.0,1.0,39.0,21.0,0.0